@using ShopClient.Models.ViewModels
@{
    ViewData["Title"] = "Create";
}
@model ShopClient.Models.ViewModels.PaymentMethodViewModel
<h1 style="font-family: Script MT">Add Payment Method</h1>

<div class="row">
    <div class="col-md-4">
        <section>
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CardNum"></label>
                    <input asp-for="CardNum" class="form-control" />
                    <span asp-validation-for="CardNum" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button style="font-family: Script MT" type="submit" class="btn btn-outline-primary" formaction="/Wallet/AddPaymentMethodAsync">Add Card</button>
                    @*<button style="position: relative; left: 300px; font-family: Script MT" class="btn btn-outline-primary" asp-controller="wallet" asp-action="Index">Return</button>*@
                </div>
            </form>
        </section>
    </div>
</div>